@import url(http://fonts.googleapis.com/css?family=Inconsolata|Kreon:300,400,700|PT+Sans:400,700,400italic);

/***************************************************************************************************
  Page header (with photo and heading)
***************************************************************************************************/

header {
  background-image:url('../img/rio.jpg');
  background-position:center top;
  background-size:cover;
  padding:0px;
  margin:0px;
  width:100vw;
  height:40vw;
  min-height:500px;
}
header h1 {
  font-size:42pt;
  margin:0px;
  line-height:1.4em;
}
header h2 {
  font-size:28pt;
  margin:20px 0px 50px 0px;
  line-height:1.4em;
}
header .content span {
  color:black;
  background:#F4C300;
  padding:3px 10px 3px 10px;
}
header .content {
  font-family:Kreon,'Times New Roman',times,serif;
  margin:25vw -100px 0px -100px;
}
header img {
  float:right;
  width:250px;
  margin-right:20px;
}

@media only screen and (max-width : 1500px) {
  header .content { margin:25vw 0px 0px 0px; }
  header h1 { font-size:38pt; }
  header h2 { font-size:26pt; }
}

@media only screen and (max-width : 1200px) {
  header h1 { font-size:34pt; }
  header h2 { font-size:22pt; }
  header img { width:160px; }
}

@media only screen and (max-width : 992px) {
  header .content { margin:20vw 0px 0px 0px; }
  header img { float:none; margin-bottom:20px; }
}

@media only screen and (max-width : 768px) {
  header .content { margin:180px 0px 0px 0px; }
  header h1 { font-size:30pt; }
  header h2 { font-size:18pt; }
}

@media only screen and (max-width : 480px) {
  header .content { margin:150px 0px 0px 0px; }
  header h1 { font-size:28pt; }
  header h2 { font-size:18pt; }
  header .content span { padding-left:0px; padding-right:0px; }
}

/***************************************************************************************************
  Navigation bar
***************************************************************************************************/

.navbar {
  font-family:Kreon,'Times New Roman',times,serif;
  background:#F4C300;
  z-index:1000;
  height:38px;
  min-height:38px;
  border-style:none;
  border-radius:0px;
}
.navbar-nav>li>a {
  color:black;
  font-size:16pt;
  height:38px;
  min-height:38px;
  padding:8px 20px 8px 20px;
}
nav .selected {
  background:#F2F1ED;
}
nav .icon-bar {
  background:red;
}

nav.affix {
  top: 0;
  width: 100%;
}
nav.affix-top {
  top: 0;
  width: 100%;
  margin-bottom:-50px;
}


/***************************************************************************************************
  ...
***************************************************************************************************/

body {
  font-family:'PT Sans',verdana,sans-serif;
  background-color:#F2F1ED;
  overflow-x:hidden;
  overflow-y:scroll;
}
